<div class="container">
<div class="about">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
       <div id="about-image">
        <%= image_tag 'me2.jpg' %>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="about-text">
        
        <!-- <h2>I love simple, thoughtful design and have</h2>
        <h2>a passion for solving problems.
        <h2>When I'm not fixing the Internet, I'm outdoors</h2>
        <h2>or in search of the perfect cheeseburger ...</h2>
        <h2>sometimes both at the same time.</h2>
        <h2>And chances are I'm wearing plaid.</h2> -->
        <h3>I love simple, thoughtful design.</h3>
        <h3>And cheeseburgers.</h3>
        <h3>By definition, my job is to create web</h3>
        <h3>applications.</h3>
        <h3>But what it really means is that I get to solve</h3>
        <h1>PUZZLES</h1> 
        <h3>that make technology more accessible.</h3>
        <h3>Have a puzzle for me?</h3>

      </div>
    </div>
  </div>
  </div>